h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}

.navigation{
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    align-items: center;
}

.firstline{
    border-bottom: 1px solid #e7e9fc;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 76px;
    margin-left: 156px;
}

.brand-logo {
    color: #2E2F42;
    text-transform: uppercase;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
}

.menu-nav {
    font-size: 16px;
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.menu-nav:focus{
    color: #404bbf;
    background-color: #404BBF;
}

.menu-nav:hover {
    color: #404bbf;
}

.adress{
    font-style: normal;
}    

.contact-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
    margin-left: 150px;
}

.contact-link {
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover {
    color: #404bbf;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.contact-link:focus{
    color: #404bbf;
}

.first-section {
    background-color: #2E2F42;
    padding: 188px 0;
}

.first-section .container{
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    padding-bottom: 26px;
}

.button {
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus{
    background-color: #404BBF;
}

.second-section{
    padding: 120px 0;
}

/* .second-section .second-title{
    visibility: hidden;
} */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.list-methods{
    display: flex;
    gap: 24px;
    margin-left: 156;
}

.text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team .second-title{
    margin-bottom: 72px;
}


.our-team .container{
    flex-direction: column;
    max-width: 1128px;
}

.container .staff{
    display: flex;
    gap: 24px;
}

.staff .block{
    height: 380px;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.person-content{
    gap: 8px;
    text-align: center;
    padding: 32px 0;
}

.our-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio .container{
    flex-direction: column;
    width: 1128px;
    padding: 0;
}

.container .second-title{
    margin-bottom: 72px;
    column-gap: 24px;
    row-gap: 48px;
}

.container .portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio .block{
    border: 1px solid #E7E9FC;
    width: 360px;
    height: 420px;
}

.application{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.third-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.block {
    list-style-type: none;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer .container .logo{
    display: inline-block;
    margin-bottom: 16px;
}

/* .footer .container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    max-width: 264px;
    padding-left: 156px;
    max-width: 264px; 
} */

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    color: #F4F4FD;
    display: inline-block;
}